{% extends "projects/base.html" %}
{% load static %}
{% block content %}
    <div class="w-100 d-flex flex-column align-items-center">
        <p class="alert alert-success">Your password has been set. If you have any problems logging in using the new password, try resetting your password one more time, making sure to make a note of your new password. If that doesn't solve the issue, please contact the system administrator.</p>
        <a class="btn btn-primary text-center" href="{% url 'login' %}">Sign In Here</a>
    </div>
    <div class="login-image-wrapper">
        <img class="landing-image img-fluid" style="width: 100%;" src="{% static 'projects/images/login-logout.svg' %}" alt="pair of people working with mobile and desktop layout illustration"> 
    </div>
    
{% endblock content %}