{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <div class="alert alert-success mx-auto mt-5">
        An email has been sent to your registered email address with instructions for resetting your password. If you have any questions or concerns, please contact the system administrator.
    </div>
    <div class="login-image-wrapper">
        <img class="landing-image img-fluid" style="width: 100%;" src="{% static 'projects/images/login-logout.svg' %}" alt="pair of people working with mobile and desktop layout illustration"> 
    </div>
{% endblock content %}