{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% if title %}
            <title>Kanri - {{ title }}</title>
        {% else %}
            <title>Kanri</title>
        {% endif %}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'projects/css/global.css' %}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid mx-4">
                <!-- Navbar Brand-->
                <a id="nav-logo" class="navbar-brand ps-3" href="{% url 'landing' %}">
                    <img class="img-fluid" width="40px" src="{% static 'projects/images/kanri_icon.svg' %}" alt="Kanri Logo">
                    KANRI
                </a>
                <!-- Sidebar Toggle-->
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 text-white" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        
                    </div>
                </form>
                <!-- Navbar-->
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}">My Dashboard</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                          {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Have an account? <span class="text-primary">Login</span></a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Need an account? <span class="text-primary">Register</span></a></li>
                            <li><a class="dropdown-item" href="{% url 'landing' %}">Go to our <span class="text-primary">home page</span></a></li>
                          {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
            
        </nav>
        <div id="layoutSidenav">
            {% if user.is_authenticated %}
              <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav mt-5">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="{% url 'boards' %}">
                                <div class="sb-nav-link-icon"><i class="bi bi-kanban"></i></div>
                                Boards
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <span class="text-warning">{{ user }}</span>
                    </div>
                </nav>
              </div>
            {% endif %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                      {% if not user.is_authenticated %}
                        <h6 class="mt-4">Not currently logged in.</h6>
                      {% else %}
                        <h6 class="mt-4">Logged in as <span class="text-primary">{{ user }}</span></h6>
                      {% endif %}
                      <hr>
                      {% block content %}{% endblock %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; KANRI 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'projects/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'projects/assets/chart-bar.js' %}"></script>
        {{ issue_counts|json_script:"issue_count_data" }}
        {{ assigned_issue_counts|json_script:"assigned_issue_count_data" }}
        <script src="{% static 'projects/assets/chart-pie.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'projects/js/datatables-simple-demo.js' %}"></script>

        <script>
          // JQuery code 
      
          $('.indy-btn').click(function() {
             // Select the parent li
              var el = $(this);
    
            // Remove the class to the other li.active elements
            $('.indy-btn.active').not(el).removeClass('active');
    
            // Toggle the class to the current element: add the class if not present, removes the class if present
            el.toggleClass('active');
                  });
    
    
            // Check if Issue Detail modal needs to be open and open it if necessary
            $(document).ready(function() {
              var modalId = localStorage.getItem('openModal');
              if (modalId !== null) {
                var $taskDetailModal = $("#taskDetailModal");
                target_url = localStorage.getItem('target-url')
                $(".modal-body", $taskDetailModal).load(target_url, function() {
    
                $taskDetailModal.modal("show");
    
                $("#update-link").click(function (e) {
                  e.preventDefault();
                  var $taskUpdateModal = $("#taskDetailModal");
                  var target_url = $(this).data("target-url");
                  
                  $(".modal-body", $taskUpdateModal).load(target_url, function() {
                    $('.issue-form').attr("action", target_url)
                    
                    $taskUpdateModal.modal("show");
                  })
                })
    
                $("#delete-link").click(function (e) {
                  e.preventDefault();
                  var $taskDeleteModal = $("#taskDetailModal");
                  var target_url = $(this).data("target-url");
              
                  $(".modal-body", $taskDeleteModal).load(target_url, function() {
                    $('.delete-form').attr("action", target_url)
                    
                    $taskDeleteModal.modal("show");
                  })
                })
                // Set Issue Detail modal to open on home page load
                $("#comment-submit").click(function (e) {
                  
                  localStorage.setItem('openModal', '#taskDetailModal')
                  localStorage.setItem('target-url', target_url)
                })
              });
                localStorage.removeItem('openModal');
                localStorage.removeItem('target-url');
              }
            })
            
    
            // Create new board      
            $(".board-create-link").click(function(e) {
              e.preventDefault();
              var $boardModal = $("#boardModal");
              var target_url = $(this).data("target-url");
              $(".modal-body", $boardModal).load(target_url, function() {
                $boardModal.modal("show")
              })
            });

            // Create new task      
            $(".issue-create-link").click(function(e) {
              e.preventDefault();
              var $taskModal = $("#taskModal");
              var target_url = $(this).data("target-url");
              $(".modal-body", $taskModal).load(target_url, function() {
                $taskModal.modal("show")
              })
            })
    
    
            // Show and update issue details
            $(".detail-link").click(function (e) {
              e.preventDefault();
              var $taskDetailModal = $("#taskDetailModal");
              var target_url = $(this).data("target-url");
              
              $(".modal-body", $taskDetailModal).load(target_url, function() {
    
                $taskDetailModal.modal("show");
    
                $("#update-link").click(function (e) {
                  e.preventDefault();
                  var $taskUpdateModal = $("#taskDetailModal");
                  var target_url = $(this).data("target-url");
                  
                  $(".modal-body", $taskUpdateModal).load(target_url, function() {
                    $('.issue-form').attr("action", target_url)
                    
                    $taskUpdateModal.modal("show");
                  })
                })
    
                $("#delete-link").click(function (e) {
                  e.preventDefault();
                  var $taskDeleteModal = $("#taskDetailModal");
                  var target_url = $(this).data("target-url");
              
                  $(".modal-body", $taskDeleteModal).load(target_url, function() {
                    $('.delete-form').attr("action", target_url)
                    
                    $taskDeleteModal.modal("show");
                  })
                })
                // Set Issue Detail modal to open on home page load
                $("#comment-submit").click(function (e) {
                  
                  localStorage.setItem('openModal', '#taskDetailModal')
                  localStorage.setItem('target-url', target_url)
                })
              });
            });
    
            
            
            setTimeout(function() {
              $('.messages').fadeOut(2000);
            }, 3000)
    
        </script>
    </body>
</html>