{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <a 
        href="{% url 'board-create' %}"
        class="btn btn-secondary mx-auto board-create-link sticky-top"  
        data-bs-target="#boardsModal"
        data-target-url="{% url 'board-create' %}"
    ><i class="fas fa-plus-circle"></i> Add a Board</a>
    <h3 class="mt-4">Active Boards</h3>
    <div class="row mt-4">
        {% if active_boards %}
            {% for board in active_boards %}
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
                    <div class="card bg-primary text-white mb-4 w-100">
                        <div class="card-body">
                            {{ board.name }}
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'board-detail' board_id=board.id %}">View Board Page</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    <h3 class="mt-4">Inactive Boards</h3>
    <div class="row mt-4">
        {% if inactive_boards %}
            {% for board in inactive_boards %}
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
                    <div class="card bg-warning text-dark mb-4 w-100">
                        <div class="card-body">
                            {{ board.name }}
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-dark stretched-link" href="{% url 'board-detail' board_id=board.id %}">View Board Page</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    <h3 class="mt-4">Closed Boards</h3>
    <div class="row mt-4">
        {% if closed_boards %}
            {% for board in closed_boards %}
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
                    <div class="card bg-success text-white mb-4 w-100">
                        <div class="card-body">
                            {{ board.name }}
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'board-detail' board_id=board.id %}">View Board Page</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Create Board Modal-->

    <div class="modal fade" id="boardModal" tabindex="-1" aria-labelledby="boardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="boardModalLabel">New Board</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger ms-2 mb-3" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}